---
Checks: '
  bugprone-branch-clone,
  bugprone-reserved-identifier,
  bugprone-use-after-move,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  google-explicit-constructor,
  google-global-names-in-headers,
  google-readability-casting,
  google-runtime-int,
  llvm-header-guard,
  llvm-include-order,
  llvm-namespace-comment,
  misc-*,
  -misc-no-recursion,
  modernize-*,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-identifier-length,
  '

WarningsAsErrors: '*'
...

