---
BasedOnStyle: Google

IndentWidth: 4
ColumnLimit: 100
---
Language: Cpp

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty

IndentCaseLabels: false

DerivePointerAlignment: false
PointerAlignment: Left

SeparateDefinitionBlocks: Always
